
body {
     --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    background-image: url(../assets/paper.jpg);
}

section {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);

}

header {
    display: flex;
    justify-content: flex-end;
    height: var(--header-height);
}




content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


/* classes---------------------------------------------------------------------------- */


.gutter-right {
margin-right: 20px;
}

.rowIt {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.justify { 
    text-align: justify;
}

.block {
    display: block;
}

.inblock {
    display: inline-block;
}

.gutter-right {
    margin-right: 20px;
}

.resets {
    display: flex;
    justify-content: center;
    flex-direction: column;
}